@charset "utf-8";

footer {
    background: #990000;
    height: 32px;
    color: #fff;
    .cTopfooter {
        padding: 3px;
        padding-top: 7px;
        p {
            text-align: center;
        }
    }
}
